{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Customer edit</h1>

   {#  <a href='{{ path('MRW_homepage') }}' >Accueil</a> #}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('customer') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
