{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Customer list</h1>
   {#  <a href='{{ path('MRW_homepage') }}' >Accueil</a> #}
    <table class="records_list" border='1'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer code</th>
                <th>Customer name</th>
                <!-- <th>Customer surname 1</th> -->
                <!-- <th>Customer surname 2</th> -->
                <!-- <th>Customer adress</th> -->
                <th>Customer city</th>
                <!-- <th>Customer zip</th> -->
                <th>Customer phone</th>
                <!-- <th>Customer mobile</th> -->
                <!-- <th>Customer state</th> -->
                <!-- <th>Customer country</th> -->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('customer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.customerCode }}</td>
                <td>{{ entity.customerName }}</td>
                <!-- <td>{{ entity.customerSurName1 }}</td> -->
                <!-- <td>{{ entity.customerSurName2 }}</td> -->
                <!-- <td>{{ entity.customerAdress }}</td> -->
                <td>{{ entity.customerCity }}</td>
                <!-- <td>{{ entity.customerZip }}</td> -->
                <td>{{ entity.customerPhone }}</td>
                <!-- <td>{{ entity.customerMobile }}</td> -->
                <!-- <td>{{ entity.customerState }}</td> -->
                <!-- <td>{{ entity.customerCountry }}</td> -->
                <td>
                <ul>


                    <!-- <li>
                        <a href="{{ path('customer_show', { 'id': entity.id }) }}">show</a>
                    </li> -->


                    <li>
                        <a href="{{ path('customer_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('customer_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
