{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Customer creation</h1>
    {# <a href='{{ path('MRW_homepage') }}' >Accueil</a> #}
    {{ form(form) }}

<!-- <table align='center'>
    <tr>
	    <td>
		    {{ form_label(form.customerName) }}
		    {{ form_widget(form.customerName) }}
	    </td>    	
    </tr>
     <tr>
	    <td>
		    {{ form_label(form.customerSurName1) }}
		    {{ form_widget(form.customerSurName1) }}
	    </td>    	
    </tr>
     <tr>
	    <td>
		    {{ form_label(form.customerSurName2) }}
		    {{ form_widget(form.customerSurName2) }}
	    </td>    	
    </tr>
     <tr>
	    <td>
		    {{ form_label(form.customerAdress) }}
		    {{ form_widget(form.customerAdress) }}
	    </td>    	
    </tr>
     <tr>
	    <td>
		    {{ form_label(form.customerCity) }}
		    {{ form_widget(form.customerCity) }}
	    </td>    	
    </tr>
     <tr>
	    <td>
		    {{ form_label(form.customerZip) }}
		    {{ form_widget(form.customerZip) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.customerPhone) }}
		    {{ form_widget(form.customerPhone) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.customerMobile) }}
		    {{ form_widget(form.customerMobile) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.customerState) }}
		    {{ form_widget(form.customerState) }}
	    </td>    	
    </tr>
        <tr>
	    <td>
		    {{ form_label(form.customerCountry) }}
		    {{ form_widget(form.customerCountry) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.customerCode) }}
		    {{ form_widget(form.customerCode) }}
	    </td>    	
    </tr>
    </table> -->

        <ul class="record_actions">
    <li>
        <a href="{{ path('customer') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
