{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Customer</h1>
    {# <a href='{{ path('MRW_homepage') }}' >Accueil</a> #}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Customername</th>
                <td>{{ entity.customerName }}</td>
            </tr>
            <tr>
                <th>Customersurname1</th>
                <td>{{ entity.customerSurName1 }}</td>
            </tr>
            <tr>
                <th>Customersurname2</th>
                <td>{{ entity.customerSurName2 }}</td>
            </tr>
            <tr>
                <th>Customeradress</th>
                <td>{{ entity.customerAdress }}</td>
            </tr>
            <tr>
                <th>Customercity</th>
                <td>{{ entity.customerCity }}</td>
            </tr>
            <tr>
                <th>Customerzip</th>
                <td>{{ entity.customerZip }}</td>
            </tr>
            <tr>
                <th>Customerphone</th>
                <td>{{ entity.customerPhone }}</td>
            </tr>
            <tr>
                <th>Customermobile</th>
                <td>{{ entity.customerMobile }}</td>
            </tr>
            <tr>
                <th>Customerstate</th>
                <td>{{ entity.customerState }}</td>
            </tr>
            <tr>
                <th>Customercountry</th>
                <td>{{ entity.customerCountry }}</td>
            </tr>
            <tr>
                <th>Customercode</th>
                <td>{{ entity.customerCode }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('customer') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('customer_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
