{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'MRWSiteBundle::layout.html.twig' %}



{% block insideBody %}

{{ 	parent()  }} 

<div id="main-page-interne" class="container-fluid page-erreur404">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="containerBlocErreur text-center">
					<h1 class="fw-700 uppercase">{{'Erreur 404'|trans}}</h1>
					<p class="txtErreur uppercase">
						{{'Page non trouvée'|trans}} <br>
						{{"La page à laquelle vous tenez d'accéder n'est plus disponible"|trans}}
					</p>
					<p><a href="/" class="uppercase fw-600 color-white border-radius-20 bg-green text-center button-hover" data-text="{{"Revenir à la page d’accueil"|trans}}">{{"Revenir à la page d’accueil"|trans}}</a></p>
				</div> <!--/.containerBlocErreur-->
			</div>
		</div>
	</div>
</div> <!--/#main-page-interne -->

{% endblock %}
