{% extends "MRWUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{% stylesheets 'bundles/mrwuser/css/style.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}


{% block body %}
	<div class="body"></div>
	<div class="grad"></div>
	<div class="header">
		<div><img src="{{ site_logo }}" alt="{{ site_name }}"></div>
	</div>
	<br>
	<div class="login">
		<form action="{{ path("fos_user_security_check") }}" method="post">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

			<input type="text" placeholder="username" name="_username" value="{{ last_username }}" required="required"><br>

			<input type="password" placeholder="password" name="_password" required="required"><br>

			<input type="submit" value="Login" value="{{ 'security.login.submit'|trans }}" name="_submit">
		</form>
	</div>
	{#
	<div class="container ">
		<div class="row row-xs-height">
			<div class="col-sm-4 login-block-form col-xs-height col-top ">


				
				    
				    <div class="full-width relative">
				    	<label for="username-login" class="absolute jLabel-label">{{ 'security.login.usernameOrEmail'|trans }}</label> 
					    
				    </div>
				    <div class="full-width relative">
					    <label for="password-login" class="absolute jLabel-label">{{ 'security.login.password'|trans }}</label>
					    
				    </div>

				    <div class="hidden">
				    	<input type="checkbox" id="remember_me" name="_remember_me" value="on" checked />
				    	<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
				    </div>

				    
				


			</div>
			<div class="col-sm-4 subscribe-block-form col-xs-height col-top ">
				{{ form_start(oFormRegistration) }}
				    {# {{ form_errors(oFormRegistration) }} 
				    <div class="full-width relative">
				    	{{ form_label(oFormRegistration.username, 'Username ', {'label_attr': {'class': 'absolute jLabel-label'} } ) }}
				    	{{ form_widget(oFormRegistration.username, {'attr': {'class': 'jLabel form-input uppercase font0'} } ) }}
				    </div>
				    <div class="full-width relative">
				    	{{ form_label(oFormRegistration.email, 'Email ', {'label_attr': {'class': 'absolute jLabel-label'} } ) }}
				    	{{ form_widget(oFormRegistration.email, {'attr': {'class': 'jLabel form-input uppercase font0'} } ) }}
				    </div>
				    <div class="full-width relative">
				    	{{ form_label(oFormRegistration.plainPassword, 'Password ', {'label_attr': {'class': 'absolute jLabel-label'} } ) }}
				    	{{ form_widget(oFormRegistration.plainPassword, {'attr': {'class': 'jLabel form-input uppercase font0'} } ) }}
				    </div>
				    <input type="submit" id="_submit-registration" name="_submit" value="{{ 'security.login.subscribe'|trans }}" class="form-input uppercase font0 center full-width letter-spacing-2 background-transparent" />
				{{ form_end(oFormRegistration) }}
			</div>
		</div>
		
	</div>#}
{% endblock %}
