{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<object {% if options.attr is defined %}{% for name, value in options.attr %}{{name}}="{{value}}" {% endfor %}{% endif %} width="{{ options.width }}" height="{{ options.height }}">
    <param name="movie" value="//www.dailymotion.com/swf/video/{{ media.providerreference }}?{{ options.player_parameters }}"></param>
    <param name="allowFullScreen" value="{{ options.allowFullScreen }}"></param>
    <param name="allowScriptAccess" value="{{ options.allowScriptAccess }}"></param>

    <embed
        type="application/x-shockwave-flash"
        src="//www.dailymotion.com/swf/video/{{ media.providerreference }}?{{ options.player_parameters }}"
        width="{{ options.width }}"
        height="{{ options.height }}"
        allowfullscreen="{{ options.allowFullScreen }}"
        allowscriptaccess="{{ options.allowScriptAccess }}">
    </embed>
</object>
