.first-count-associations
{
    border-bottom: 1px solid black;
    display: block;
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.last-count-associations
{
    border-top: 1px solid black;
    display: block;
    text-align: center;
    padding-top: 8px;
    margin-top: 10px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ vertical-align: middle; }
.box-body.table-responsive.no-padding tr{ height: 48px; }
.sonata-ba-list-field .fa-pencil-square-o
{
    display: block;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
.text-accordion-admin .fa-plus-circle,
.text-accordion-admin .fa-minus-circle
{
    margin-left: 10px;
    font-size: 16px;
    position: relative;
    top: -1px;
}
.text-accordion-admin
{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}
.text-accordion-admin-enfant
{
    font-size: 16px;
    text-align: left;
}
.text-accordion-admin-enfant .fa-plus-circle,
.text-accordion-admin-enfant .fa-minus-circle
{
    font-size: 14px;
}
.sonata-ba-list-field .fa-pencil-square-o:hover:hover,
.text-accordion-admin:hover{ color: #3c8dbc; }
.parent-row-admin{ background: #DEDEDE !important; }
