<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{#{{ site_name }} -#} {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% 
            stylesheets  
                'bundles/mrwsite/css/bootstrap.min.css' 
                'bundles/mrwsite/css/mandatory.css' 
                'bundles/mrwsite/supermenu/css/normalize.css' 
                'bundles/mrwsite/supermenu/css/demo.css' 
                'bundles/mrwsite/supermenu/css/style12.css' 
                'bundles/mrwsite/css/style.css' 
                filter='cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('uploads/globals/favicon.png') }}" />
        <meta name="robots" content="index,follow">
        <meta name="viewport" content="width=device-width, minimum-scale=0.25, maximum-scale=1.6, initial-scale=1.0, user-scalable=no">
        <meta name="google-site-verification" content="dyTJZszcTAMJmAYcgqQfSrfxZ9uoPMSUpKJeAosAx-c" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/x-icon">
        <link rel="canonical" href="">
        <link rel="alternate" media="handheld" href="">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta property="og:image" content="{{ asset('bundles/yesite/images/YELogo.png') }}">
        {# <meta property="fb:app_id" content=""> #}
        {# <link rel="publisher" href=""> 
        <link rel="alternate" href="">
        <link rel="alternate" href="">
        <link rel="search" type="" title="Recherche de vidéos YouTube">#}
        <script>
            var REQUIRED_FIELDS   = "{{'Les champs en rouge sont obligatoires'|trans}}";
            var INVAlID_FIELD     = "{{'E-mail invalide'|trans}}";
            var FIND_TRACKINGID_URL     = "{{ path('trackingid_find') }}";
            var IMAGES_PATH     = "{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('images') }}";

        </script>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        {% javascripts
            'bundles/mrwsite/js/jQuery.js'
            'bundles/mrwsite/supermenu/js/snap.svg-min.js' 
            'bundles/mrwsite/supermenu/js/modernizr.custom.js' 
            'bundles/mrwsite/supermenu/js/classie.js' 
            'bundles/mrwsite/supermenu/js/demo12.js' 
           
        %}
            <script type="text/javascript" src="{{ asset_url }}" charset="utf-8"></script>
        {% endjavascripts %}
    </head>
    <body>
        <div class="container">
            <div class="push-wrap">
                <button id="trigger-overlay" type="button">Menu</button>
                {% block body %}{% endblock %}
            </div>
        </div>
        <div class="overlay overlay-genie" data-steps="m 701.56545,809.01175 35.16718,0 0,19.68384 -35.16718,0 z;m 698.9986,728.03569 41.23353,0 -3.41953,77.8735 -34.98557,0 z;m 687.08153,513.78234 53.1506,0 C 738.0505,683.9161 737.86917,503.34193 737.27015,806 l -35.90067,0 c -7.82727,-276.34892 -2.06916,-72.79261 -14.28795,-292.21766 z;m 403.87105,257.94772 566.31246,2.93091 C 923.38284,513.78233 738.73561,372.23931 737.27015,806 l -35.90067,0 C 701.32034,404.49318 455.17312,480.07689 403.87105,257.94772 z;M 51.871052,165.94772 1362.1835,168.87863 C 1171.3828,653.78233 738.73561,372.23931 737.27015,806 l -35.90067,0 C 701.32034,404.49318 31.173122,513.78234 51.871052,165.94772 z;m 52,26 1364,4 c -12.8007,666.9037 -273.2644,483.78234 -322.7299,776 l -633.90062,0 C 359.32034,432.49318 -6.6979288,733.83462 52,26 z;m 0,0 1439.999975,0 0,805.99999 -1439.999975,0 z">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1440 806" preserveAspectRatio="none">
                <path class="overlay-path" d="M0,0C0,0,1439.999975,0,1439.999975,0C1439.999975,0,1439.999975,805.99999,1439.999975,805.99999C1439.999975,805.99999,0,805.99999,0,805.99999C0,805.99999,0,0,0,0C0,0,0,0,0,0"></path>
                <desc>Created with Snap</desc><defs></defs></svg>
                <button type="button" class="overlay-close">Close</button>
                <nav>
                    <ul>
                        <li><a href="{{ path('fr__RG__MRW_homepage') }}">Page d'accueil</a></li>
                        <li class="titre-list-menu">Gestion des Headers</li>
                        <li><a href="{{ path('fr__RG__header') }}">Gérer les Headers</a></li>
                        <li><a href="{{ path('fr__RG__header_new') }}">Créer un Headers</a></li>
                        {# <li><a href="{{ path('fr__RG__header_read') }}">Lire les Headers</a></li> #}
                        {# <li class="titre-list-menu">Gestion des Détails</li>
                        <li><a href="{{ path('fr__RG__detail') }}">Gérer les Détails</a></li> #}
                        <li class="titre-list-menu">Gestion des Customers</li>
                        <li><a href="{{ path('fr__RG__customer') }}">Gérer les customers</a></li>
                        <li class="titre-list-menu">Gestion des tracking ID</li>
                        <li><a href="{{ path('trackingid') }}">Gérer les tracking ID</a></li>
                        <li class="titre-list-menu">Génération des fichiers</li>
                        <li><a href="{{ path('fr__RG__MRW_generate') }}">Générer les Headers</a></li>
                        <li><a href="{{ path('fr__RG__MRW_generate_canceled') }}">Générer les Headers annulés</a></li>
                    </ul>
                </nav>
            </div>
        {% block endBody %}{% endblock %}
        {% block javascripts %}{% endblock %}
            {% javascripts  
            'bundles/mrwsite/supermenu/js/classie.js' 
            'bundles/mrwsite/supermenu/js/demo12.js' 
            'bundles/mrwsite/js/Traitement.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}" charset="utf-8"></script>
        {% endjavascripts %}
    </body>
</html>
