{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Header edit</h1>

    {{ form_start(edit_form, {'method': 'POST'}) }}
    
    {{ form_errors(edit_form) }}
    <table class="edit">
        <tr>
{#             <td>
                {{ form_label(edit_form.codeBarre) }}
                {{ form_widget(edit_form.codeBarre) }}
            </td>  #}      
            <td>
                {{ form_label(edit_form.trackingId) }}
                {{ form_widget(edit_form.trackingId) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.orderType) }}
                {{ form_widget(edit_form.orderType) }}
            </td>
            <td>
                {{ form_label(edit_form.customerCode) }}
                {{ form_widget(edit_form.customerCode) }}
            </td>
{#             <td>
                {{ form_label(edit_form.orderCode) }}
                {{ form_widget(edit_form.orderCode) }}
            </td>    #}    
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.customerName_recepteur) }}
                {{ form_widget(edit_form.customerName_recepteur) }}
            </td>
            <td>
                {{ form_label(edit_form.customerSurName1_recepteur) }}
                {{ form_widget(edit_form.customerSurName1_recepteur) }}
            </td>
            <td>
                {{ form_label(edit_form.customerSurName2_recepteur) }}
                {{ form_widget(edit_form.customerSurName2_recepteur) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.customerAdress_recepteur) }}
                {{ form_widget(edit_form.customerAdress_recepteur) }}
            </td>       
            <td>
                {{ form_label(edit_form.customerCity_recepteur) }}
                {{ form_widget(edit_form.customerCity_recepteur) }}
            </td>     
            <td>
                {{ form_label(edit_form.customerState_recepteur) }}
                {{ form_widget(edit_form.customerState_recepteur) }}
            </td>     
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.customerPhone_recepteur) }}
                {{ form_widget(edit_form.customerPhone_recepteur) }}
            </td>
            <td>
                {{ form_label(edit_form.customerMobile_recepteur) }}
                {{ form_widget(edit_form.customerMobile_recepteur) }}
            </td>               
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.customerCountry_recepteur) }}
                {{ form_widget(edit_form.customerCountry_recepteur) }}
            </td> 
            <td>
                {{ form_label(edit_form.customerZip_recepteur) }}
                {{ form_widget(edit_form.customerZip_recepteur) }}
            </td>    
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.weight) }}
                {{ form_widget(edit_form.weight) }}
            </td>       
            <td>
                {{ form_label(edit_form.volume) }}
                {{ form_widget(edit_form.volume) }}
            </td>       
            <td>
                {{ form_label(edit_form.vatId) }}
                {{ form_widget(edit_form.vatId) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.packaging) }}
                {{ form_widget(edit_form.packaging) }}
            </td>       
            <td>
                {{ form_label(edit_form.service) }}
                {{ form_widget(edit_form.service) }}
            </td>
            <td>
                {{ form_label(edit_form.typeService) }}
                {{ form_widget(edit_form.typeService) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.comments1) }}
                {{ form_widget(edit_form.comments1) }}
            </td>       
            <td>
                {{ form_label(edit_form.comments2) }}
                {{ form_widget(edit_form.comments2) }}
            </td>    
            <td>
                {{ form_label(edit_form.deliveryType) }}
                {{ form_widget(edit_form.deliveryType) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.email) }}
                {{ form_widget(edit_form.email) }}
            </td>      
            <td>
                {{ form_label(edit_form.sms) }}
                {{ form_widget(edit_form.sms) }}
            </td>   
            <td>
                {{ form_label(edit_form.echange) }}
                {{ form_widget(edit_form.echange) }}
            </td>     
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.customer) }}
                {{ form_widget(edit_form.customer) }}
            </td>       
        <td>
            {{ form_label(edit_form.transporteur) }}
            {{ form_widget(edit_form.transporteur) }}
        </td>        
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.canceled) }}
                {{ form_widget(edit_form.canceled) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.campaniaMRW) }}
                {{ form_widget(edit_form.campaniaMRW) }}
            </td>
            <td>
                {{ form_label(edit_form.entregaSabado) }}
                {{ form_widget(edit_form.entregaSabado) }}
            </td>       
        </tr>
        {#  #}
        {#<tr>
            <td>
                {{ form_label(edit_form.recordType) }}
                {{ form_widget(edit_form.recordType) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.transmitionDate) }}
                {{ form_widget(edit_form.transmitionDate) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.serviceDate) }}
                {{ form_widget(edit_form.serviceDate) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.status) }}
                {{ form_widget(edit_form.status) }}
            </td>       
        </tr>
         <tr>
            <td>
                {{ form_label(edit_form.subStatus) }}
                {{ form_widget(edit_form.subStatus) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.statusDate) }}
                {{ form_widget(edit_form.statusDate) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.preparationCenter) }}
                {{ form_widget(edit_form.preparationCenter) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.bundles) }}
                {{ form_widget(edit_form.bundles) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.refund) }}
                {{ form_widget(edit_form.refund) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.refundValue) }}
                {{ form_widget(edit_form.refundValue) }}
            </td>       
        </tr>
        {tr>
            <td>
                {{ form_label(edit_form.deliveryType) }}
                {{ form_widget(edit_form.deliveryType) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.issue) }}
                {{ form_widget(edit_form.issue) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.comments) }}
                {{ form_widget(edit_form.comments) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.customerCode) }}
                {{ form_widget(edit_form.customerCode) }}
            </td>       
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.actif) }}
                {{ form_widget(edit_form.actif) }}
            </td>       
        </tr>
        
        <tr>
            <td>
                {{ form_label(edit_form.generated) }}
                {{ form_widget(edit_form.generated) }}
            </td>       
        </tr>
        #}
        {{ form_widget(edit_form._token) }}

         
    </table> 
<hr />
<h3>Details</h3>
<table class="details" data-prototype="{{ form_widget(edit_form.details.vars.prototype)|e }}">
    {% for detail in edit_form.details %}
        <tr>
            <td>{{ form_row(detail.productId) }}</td>
            <td>{{ form_row(detail.quantity) }}</td>
            <td>{{ form_row(detail.unitCost) }}</td>
            <td>{{ form_row(detail.salePrice) }}</td>
            <td>{{ form_row(detail.description) }}</td>

        </tr>    

    {% endfor %}
</table>
<a href="{{ path('header') }}">
    Back to the list
</a>
</br>
</br>
<input type='submit' value='Modifier Header' />


{{ form_end(edit_form, {'render_rest': false}) }}
{% endblock %}
