{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Header list</h1>

       {% set noticeFilesRead = app.session.flashbag.get("noticeFilesRead") %}

        {% if (noticeFilesRead is not empty) %}
            Fichiers lus avec succès !
        {% endif %}

      {% set noticeGeneratedHeader = app.session.flashbag.get("noticeGeneratedHeader") %}

        {% if (noticeGeneratedHeader is not empty) %}
            {{noticeGeneratedHeader[0]}}
        {% endif %}
    
    <br/>
    {# <a href='{{ path('MRW_homepage') }}' >Accueil</a> #}
    <table class="table" >
        <thead>
            <tr>
                <th>Id</th>
                {# <th>Code Barre</th> #}
                <th>Num Trakcing</th>
                <!-- <th>Record type</th> -->
                <!-- <th>Order type</th> -->
                <th>Order code</th>
                <th>Customer Name</th>
                {# <th>Status</th> #}
                <!-- <th>Substatus</th> -->
                <!-- <th>Service date</th> -->
                <!-- <th>Status date</th> -->
                {# <th>Transmition date</th> #}
                <!-- <th>Preparation center</th> -->
                <!-- <th>Vatid</th> -->
                <th>Weight</th>
                <th>Volume</th>
                {# <th>Bundles</th> #}
                <!-- <th>Refund</th> -->
                <!-- <th>Refund value</th> -->
                <!-- <th>Comments 1</th>                 -->
                <!-- <th>Delivery type</th> -->
                <!-- <th>Comments 2</th> -->
                <!-- <th>Email</th> -->
                <!-- <th>Issue</th> -->
                <!-- <th>Comments</th> -->
                <th>Show</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('header_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                {# <td>{{ entity.codebarre}}</td> #}
                <td>{{ entity.trackingId.trackingId}}</td>
                <!-- <td>{{ entity.recordType }}</td> -->
                <!-- <td>{{ entity.orderType }}</td> -->
                <td>{{ entity.orderCode }}</td>
                <td>{{ entity.customerNameRecepteur }}</td>
                {# <td>{{ entity.status }}</td> #}
                <!-- <td>{{ entity.subStatus }}</td> -->
                <!-- <td>{% if entity.serviceDate %}{{ entity.serviceDate|date('Y-m-d') }}{% endif %}</td> -->
                <!-- <td>{% if entity.statusDate %}{{ entity.statusDate|date('Y-m-d') }}{% endif %}</td> -->
                {# <td>{% if entity.transmitionDate %}{{ entity.transmitionDate|date('Y-m-d') }}{% endif %}</td> #}
                <!-- <td>{{ entity.preparationCenter }}</td> -->
                <!-- <td>{{ entity.vatId }}</td> -->
                <td>{{ entity.weight }}</td>
                <td>{{ entity.volume }}</td>
                {# <td>{{ entity.bundles }}</td> #}
                <!-- <td>{{ entity.refund }}</td> -->
                <!-- <td>{{ entity.refundValue }}</td> -->
                <!-- <td>{{ entity.comments1 }}</td>                 -->
                <!-- <td>{{ entity.deliveryType }}</td> -->
                <!-- <td>{{ entity.comments2 }}</td> -->
                <!-- <td>{{ entity.email }}</td> -->
                <!-- <td>{{ entity.issue }}</td> -->
                <!-- <td>{{ entity.comments }}</td> -->
                <td>
{#                 <ul>
                    <li> #}
                        <a href="{{ path('header_show', { 'id': entity.id }) }}">show</a>
                    </td>
{#                     </li>
                    <li> #}<td>
                        <a href="{{ path('header_edit', { 'id': entity.id }) }}">edit</a>
{#                     </li>
                </ul> #}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       {#  <ul>
        <li>
            <a href="{{ path('header_new') }}">
                Create a new entry
            </a>
        </li>
    </ul> #}

 

    {% endblock %}
