{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Header creation</h1>


{{ form_start(form, {'method': 'POST'}) }}

<table>
    <tr>
{# 	    <td>
		    {{ form_label(form.codeBarre) }}
		    {{ form_widget(form.codeBarre) }}
	    </td>   #}  	
	    <td>
	    	{{ form_label(form.trackingId) }}
		    {{ form_widget(form.trackingId) }}
	    </td>
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.orderType) }}
		    {{ form_widget(form.orderType) }}
	    </td>
	    <td>
		    {{ form_label(form.customerCode) }}
		    {{ form_widget(form.customerCode) }}
	    </td>
{# 	    <td>
		    {{ form_label(form.orderCode) }}
		    {{ form_widget(form.orderCode) }}
	    </td>      #} 	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.customerName_recepteur) }}
		    {{ form_widget(form.customerName_recepteur) }}
	    </td>
	    <td>
		    {{ form_label(form.customerSurName1_recepteur) }}
		    {{ form_widget(form.customerSurName1_recepteur) }}
	    </td>
	    <td>
		    {{ form_label(form.customerSurName2_recepteur) }}
		    {{ form_widget(form.customerSurName2_recepteur) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.customerAdress_recepteur) }}
		    {{ form_widget(form.customerAdress_recepteur) }}
	    </td>    	
	    <td>
		    {{ form_label(form.customerCity_recepteur) }}
		    {{ form_widget(form.customerCity_recepteur) }}
	    </td>	   	
	    <td>
		    {{ form_label(form.customerState_recepteur) }}
		    {{ form_widget(form.customerState_recepteur) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.customerPhone_recepteur) }}
		    {{ form_widget(form.customerPhone_recepteur) }}
	    </td>
	    <td>
		    {{ form_label(form.customerMobile_recepteur) }}
		    {{ form_widget(form.customerMobile_recepteur) }}
	    </td>     	
    </tr>
    <tr>
    	<td>
		    {{ form_label(form.customerCountry_recepteur) }}
		    {{ form_widget(form.customerCountry_recepteur) }}
	    </td> 
	    <td>
		    {{ form_label(form.customerZip_recepteur) }}
		    {{ form_widget(form.customerZip_recepteur) }}
	    </td>    
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.weight) }}
		    {{ form_widget(form.weight) }}
	    </td>    	
	    <td>
		    {{ form_label(form.volume) }}
		    {{ form_widget(form.volume) }}
	    </td>    	
	    <td>
		    {{ form_label(form.vatId) }}
		    {{ form_widget(form.vatId) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.packaging) }}
		    {{ form_widget(form.packaging) }}
	    </td>    	
	    <td>
		    {{ form_label(form.service) }}
		    {{ form_widget(form.service) }}
	    </td>
	    <td>
		    {{ form_label(form.typeService) }}
		    {{ form_widget(form.typeService) }}
	    </td>
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.comments1) }}
		    {{ form_widget(form.comments1) }}
	    </td>    	
	    <td>
		    {{ form_label(form.comments2) }}
		    {{ form_widget(form.comments2) }}
	    </td>       	
	    <td>
		    {{ form_label(form.deliveryType) }}
		    {{ form_widget(form.deliveryType) }}
	    </td>  
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.email) }}
		    {{ form_widget(form.email) }}
	    </td>  
	    <td>
		    {{ form_label(form.sms) }}
		    {{ form_widget(form.sms) }}
	    </td>   
	    <td>
		    {{ form_label(form.echange) }}
		    {{ form_widget(form.echange) }}
	    </td>  	
    </tr>
    <tr>
        <td>
            {{ form_label(form.campaniaMRW) }}
            {{ form_widget(form.campaniaMRW) }}
        </td>
        <td>
            {{ form_label(form.entregaSabado) }}
            {{ form_widget(form.entregaSabado) }}
        </td>       
    </tr>
    {#<tr>
	    <td>
		    {{ form_label(form.recordType) }}
		    {{ form_widget(form.recordType) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.transmitionDate) }}
		    {{ form_widget(form.transmitionDate) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.serviceDate) }}
		    {{ form_widget(form.serviceDate) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.status) }}
		    {{ form_widget(form.status) }}
	    </td>    	
    </tr>
     <tr>
	    <td>
		    {{ form_label(form.subStatus) }}
		    {{ form_widget(form.subStatus) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.statusDate) }}
		    {{ form_widget(form.statusDate) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.preparationCenter) }}
		    {{ form_widget(form.preparationCenter) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.bundles) }}
		    {{ form_widget(form.bundles) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.refund) }}
		    {{ form_widget(form.refund) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.refundValue) }}
		    {{ form_widget(form.refundValue) }}
	    </td>    	
    </tr>
    {tr>
	    <td>
		    {{ form_label(form.deliveryType) }}
		    {{ form_widget(form.deliveryType) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.issue) }}
		    {{ form_widget(form.issue) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.comments) }}
		    {{ form_widget(form.comments) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.customerCode) }}
		    {{ form_widget(form.customerCode) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.actif) }}
		    {{ form_widget(form.actif) }}
	    </td>    	
    </tr>
    {tr>
	    <td>
		    {{ form_label(form.canceled) }}
		    {{ form_widget(form.canceled) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.generated) }}
		    {{ form_widget(form.generated) }}
	    </td>    	
    </tr>
    #}
    <tr>
	    <td>
		    {{ form_label(form.customer) }}
		    {{ form_widget(form.customer) }}
	    </td>    	
	    <td>
		    {{ form_label(form.transporteur) }}
		    {{ form_widget(form.transporteur) }}
	    </td>    
    </tr>


</table> 
<hr />		    
	    {{ form_widget(form._token) }}


{% set noticeGeneratedHeader = app.session.flashbag.get("noticeGeneratedHeader") %}

        {% if (noticeGeneratedHeader is not empty) %}            
            <font color="red">{{noticeGeneratedHeader[0]}}</font>
            <br />
        {% endif %}
        
<h3>Details</h3>


<table class="details" data-prototype="{{ form_widget(form.details.vars.prototype)|e }}">
    {# iterate over each existing tag and render its only field: name #}
    {% for detail in form.details %}
        <tr>
            <td>{{ form_row(detail.productId) }}</td>
            <td>{{ form_row(detail.quantity) }}</td>
            <td>{{ form_row(detail.unitCost) }}</td>
            <td>{{ form_row(detail.salePrice) }}</td>
            <td>{{ form_row(detail.description) }}</td>
        </tr>    
    {% endfor %}
</table><a href="{{ path('header') }}">
    Back to the list
</a>
</br>
</br>
<input type='submit' value='Ajouter Header' />
{{ form_end(form, {'render_rest': false}) }}
{% endblock %}
