{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Header</h1>

    {# <a href='{{ path('MRW_homepage') }}' >Accueil</a> #}


    <table class="record_properties">
        <tbody>
            <tr>
                <th>Tracking ID</th>
                <td>{{ entity.trackingId.trackingId }}</td>
            </tr>
            {# <tr>
                <th>Recordtype</th>
                <td>{{ entity.recordType }}</td>
            </tr> #}
            <tr>
                <th>Order type</th>
                <td>{% if entity.orderType == 'E' %} Envoi {% else %} Retour {% endif %}</td>
                <th>Customer code</th>
                <td>{{ entity.customerCode }}</td>
                <th>Order code</th>
                <td>{{ entity.orderCode }}</td>
            </tr>
            <tr>
                <th>Customer Name</th>
                <td>{{ entity.customerNameRecepteur }}</td>
                <th>Customer Surname 1</th>
                <td>{{ entity.customerSurName1Recepteur }}</td>
                <th>Customer Surname 1</th>
                <td>{{ entity.customerSurName2Recepteur }}</td>
            </tr>
            <tr>
                <th>Customer Adress</th>
                <td>{{ entity.customerAdressRecepteur }}</td>
                <th>Customer City</th>
                <td>{{ entity.customerCityRecepteur }}</td>
                <th>Customer State</th>
                <td>{{ entity.customerStateRecepteur }}</td>
            </tr>
            <tr>
                <th>Customer Phone</th>
                <td>{{ entity.customerPhoneRecepteur }}</td>
                <th>Customer Mobile</th>
                <td>{{ entity.customerMobileRecepteur }}</td>
            </tr>
            <tr>
                <th>Customer Country</th>
                <td>{{ entity.customerCountryRecepteur }}</td>
                <th>Customer Zip</th>
                <td>{{ entity.customerZipRecepteur }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ entity.weight }}</td>

                <th>Volume</th>
                <td>{{ entity.volume }}</td>

                <th>Vatid</th>
                <td>{{ entity.vatId }}</td>
            </tr>
            <tr>
                <th>Packaging</th>
                <td>{{ entity.packaging }}</td>

                <th>Service</th>
                <td>{{ entity.service }}</td>

                <th>Type Service</th>
                <td>{{ entity.typeService }}</td>
            </tr>
            {# <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Substatus</th>
                <td>{{ entity.subStatus }}</td>
            </tr> 
            <tr>
                <th>Servicedate</th>
                <td>{{ entity.serviceDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Statusdate</th>
                <td>{{ entity.statusDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Transmitiondate</th>
                <td>{{ entity.transmitionDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Preparationcenter</th>
                <td>{{ entity.preparationCenter }}</td>
            </tr>#}
            <tr>
                <th>Bundles</th>
                <td>{{ entity.bundles }}</td>
                <th>Refund</th>
                <td>{{ entity.refund }}</td>
                <th>Refundvalue</th>
                <td>{{ entity.refundValue }}</td>

            </tr>
            <tr>
                <th>Comments1</th>
                <td>{{ entity.comments1 }}</td>
                <th>Comments2</th>
                <td>{{ entity.comments2 }}</td>
                <th>Deliverytype</th>
                <td>{% if entity.deliveryType == 'D' %} Point of delivery {% else %} Agency {% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
                <th>SMS Identité</th>
                <td>{{ entity.sms }}</td>
                <th>Echange</th>
                <td>{{ entity.echange }}</td>
            </tr>
            <tr>
                <th>Expediteur</th>
                <td>{{ entity.customer }}</td>
                <th>Transporteur</th>
                <td>{{ entity.transporteur }}</td>
            </tr>
            <tr>
                <th>Campania MRW</th>
                <td>{{ entity.campaniaMRW }}</td>
                <th>Entrega Sabado</th>
                <td>{{ entity.entregaSabado }}</td>
            </tr>
            {# <tr>
                <th>Issue</th>
                <td>{{ entity.issue }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ entity.comments }}</td>
            </tr> #}
            <tr>
            <table class="records_list" border='1'>
            <tr>
            <H2>Détails</h2>
            </tr>
                <thead>
                    <tr>
                        {# <th>record Type</th> #}
                        {# <th>order Code</th> #}
                        <th> product Id </th>
                        <th> quantity </th>
                        <th> unit Cost </th>
                        <th> sale Price </th>
                        <th> description </th>
                       {#  <th>warehouse</th> #}
                        <th>Print Zebra</th>
                        <th>Print A4</th>
                    </tr>
                </thead>
                {% for key, oDetail in entity.details %}             
                    <tbody>          
                        <tr>
                            <td>
                                {{ oDetail.productId }}
                            </td>
                            <td>
                                {{ oDetail.quantity }}
                            </td>
                            <td>
                                {{ oDetail.unitCost }}
                            </td>
                            <td>
                                {{ oDetail.salePrice }}
                            </td>
                             <td>
                                {{ oDetail.description }}
                            </td>
                            <td>
                                <a href="{{ path('trackingid_printheader', { 'id': oDetail.id, 'key' : key, 'format': 'zebra' }) }}" target="_blank">print</a>
                            </td>
                            <td>
                                <a href="{{ path('trackingid_printheader', { 'id': oDetail.id, 'key' : key, 'format': 'A4' }) }}" target="_blank">print</a>
                            </td>
                        </tr>                  
                    </tbody>                
                {% endfor %}
    </table>

    <ul class="record_actions">
        <li>
            <p></p>
        </li>
        <li>
            <a href="{{ path('header') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('header_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        </br>
        </br>
        <li>{{ form(delete_form) }}</li>
        {# <li>
            <a href="{{ path('header_delete', { 'id': entity.id }) }}">
                Delete
            </a>
        </li> #}
    </ul>
{% endblock %}
