{% spaceless %}
	{% set i=1 %}
	<ul class="menu_footer">
		{% for oItem in oMenu.items %}
			<li>
				<a 
					href="
						{% if oItem.route is not empty %}
							{% if routeExists(app.request.locale ~ oItem.route) %}
								{{ path(app.request.locale ~ oItem.route) }}
							{% else %}
							{{ oItem.route }}
						{% endif %}
						{% else %}
							#
						{% endif %}" 
						{% if oItem.blank %}
							target="_blank"
						{% endif %} 
					class="
						{% if oPage is defined %}
							{% if CheckParentR(oPage, oItem.route) %}
								active 
							{% endif %}
						{% endif %}">
					{{ oItem.nom }}
				</a>
			</li>
			<li>
				{% if (oMenu.items)|length > i %}
					| 
				{% endif %}
			</li>
			{% set i = i+1 %}
		{% endfor %}
	</ul>
{% endspaceless %}