{#{% for item in oMenu.items %}
	{% if item.page.pageParente is not null %}
		{% if item.page.pageParente.pageParente is not null %}
			{% if item.page.pageParente.pageParente.pageParente is not null %}
				{{ ladybug_dump(item.page.pageParente.pageParente.pageParente.route) }} 
			{% endif %}
			{{ ladybug_dump(item.page.pageParente.pageParente.route) }} 
		{% endif %}
		{{ ladybug_dump(item.page.pageParente.route) }} 
	{% endif %}
	{{ ladybug_dump(item.page.route) }}    
{% endfor %}#}
{% spaceless %}
	<nav class="main-menu pull-right">
		<ul>
			{% for oItem in oMenu.items %}
				<li>
					<a 
						href="
							{% if oItem.route is not empty %}
								{% if routeExists(app.request.locale ~ oItem.route) %}
									{{ path(app.request.locale ~ oItem.route) }}
								{% else %}
									{{ oItem.route }}
								{% endif %}
							{% else %}
								#
							{% endif %}" 
						{% if oItem.blank %}
							target="_blank"
						{% endif %} 
						class="
						{% if oItem.class is defined %}
							{{ oItem.class }}
						{% endif %}
						{% if oPage is defined %}
							{% if CheckParentR(oPage, oItem.route) %}
								active 
							{% endif %}
						{% endif %}">
						{{ oItem.nom }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endspaceless %}