{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Detail list</h1>
   {#  <a href='{{ path('MRW_homepage') }}' >Accueil</a> #}
    <table class="records_list" border='1'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Record type</th>
                <th>Order code</th>
                <th>Product id</th>
                <th>Quantity</th>
                <th>Unit cost</th>
                <th>Sale price</th>
                <th>Warehouse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('detail_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.recordType }}</td>
                <td>{{ entity.orderCode }}</td>
                <td>{{ entity.productId }}</td>
                <td>{{ entity.quantity }}</td>
                <td>{{ entity.unitCost }}</td>
                <td>{{ entity.salePrice }}</td>
                <td>{{ entity.warehouse }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('codebarre_printheader', { 'id': entity.id }) }}">print</a>
                    </li>
                    <li>
                        <a href="{{ path('detail_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('detail_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       {#  <ul>
        <li>
            <a href="{{ path('detail_new') }}">
                Create a new entry
            </a>
        </li>
    </ul> #}
    {% endblock %}
