{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Detail creation</h1>
   {#  <a href='{{ path('MRW_homepage') }}' >Accueil</a> #}
    {{ form(form) }}

<!-- <table align='center'>
    <tr>
	    <td>
		    {{ form_label(form.recordType) }}
		    {{ form_widget(form.recordType) }}
	    </td>    	
    </tr>
     <tr>
	    <td>
		    {{ form_label(form.orderCode) }}
		    {{ form_widget(form.orderCode) }}
	    </td>    	
    </tr>
     <tr>
	    <td>
		    {{ form_label(form.productId) }}
		    {{ form_widget(form.productId) }}
	    </td>    	
    </tr>
     <tr>
	    <td>
		    {{ form_label(form.quantity) }}
		    {{ form_widget(form.quantity) }}
	    </td>    	
    </tr>
     <tr>
	    <td>
		    {{ form_label(form.unitCost) }}
		    {{ form_widget(form.unitCost) }}
	    </td>    	
    </tr>
     <tr>
	    <td>
		    {{ form_label(form.salePrice) }}
		    {{ form_widget(form.salePrice) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.warehouse) }}
		    {{ form_widget(form.warehouse) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.header) }}
		    {{ form_widget(form.header) }}
	    </td>    	
    </tr>
    
    </table> -->

        <ul class="record_actions">
    <li>
        <a href="{{ path('detail') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
