{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Detail</h1>
    
    {# <a href='{{ path('MRW_homepage') }}' >Accueil</a> #}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Recordtype</th>
                <td>{{ entity.recordType }}</td>
            </tr>
            <tr>
                <th>Ordercode</th>
                <td>{{ entity.orderCode }}</td>
            </tr>
            <tr>
                <th>Productid</th>
                <td>{{ entity.productId }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ entity.quantity }}</td>
            </tr>
            <tr>
                <th>Unitcost</th>
                <td>{{ entity.unitCost }}</td>
            </tr>
            <tr>
                <th>Saleprice</th>
                <td>{{ entity.salePrice }}</td>
            </tr>
            <tr>
                <th>Warehouse</th>
                <td>{{ entity.warehouse }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('detail') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('detail_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
