{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SubStatus edit</h1>
    {# <a href='{{ path('MRW_homepage') }}' >Accueil</a> #}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('substatus') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
