{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SubStatus list</h1>
   {#  <a href='{{ path('MRW_homepage') }}' >Accueil</a> #}
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Substatus</th>
                <th>Action</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('substatus_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.subStatus }}</td>
                <td>{{ entity.action }}</td>
                <td>
                <ul>
                   <!--  <li>
                        <a href="{{ path('substatus_show', { 'id': entity.id }) }}">show</a>
                    </li> -->
                    <li>
                        <a href="{{ path('substatus_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('substatus_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
