{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SubStatus creation</h1>
   {#  <a href='{{ path('MRW_homepage') }}' >Accueil</a> #}
    
{{form_start(form)}}
<table>
    <tr>
	    <td>
		    {{ form_label(form.subStatus) }}
		    {{ form_widget(form.subStatus) }}
	    </td>    	
    </tr>
    <tr>
	    <td>
		    {{ form_label(form.action) }}
		    {{ form_widget(form.action) }}
	    </td>    	
    </tr>
    <tr>
        <td>
            {{ form_rest(form) }}
        </td>
    </tr>
</table>
{{form_end(form)}}
<ul class="record_actions">
    <li>
        <a href="{{ path('substatus') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
