{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SubStatus</h1>
    {# <a href='{{ path('MRW_homepage') }}' >Accueil</a> #}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Substatus</th>
                <td>{{ entity.subStatus }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ entity.action }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('substatus') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('substatus_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
