.container-etiquette
{
    width: 375px;
    height: 565px;
    border: 1px solid black;
}
.case
{
    /* border-left: 30px solid black; */
    padding-left: 44px;
    width: 330px;
    position: relative;
}
.case1
{
    overflow: hidden;
    height: 113px;
}
.case2 div{ display: inline;  }
.case2 .last-line
{
    top: 20px;
    position: absolute;
    width: 100%;
}
.first-line .barcode2
{
    position: relative;
    top: 3px;
}
.container-etiquette div,
.container-etiquette span
{
    font-size: 11px;
}
.lineHeightBigger{ line-height: 14px; }
/* .container-etiquette div{ display: inline-block;  } */
.barcode
{
    /*width: 259px;
    height: 74px;*/
    margin: auto;
    display: block;
    margin-top: 2px;
}
.barcode.barcode1
{
    margin: auto;
    margin-top: 18px;
    margin-left: 20px;
}
.separator
{
    display: block;
    width: 100%;
    height: 1px;
    border-top: 1px solid black;
}
.case5
{ 
    line-height: 8px;
    height: 116px;
}
.black-bg{ background: black; color: white; }
.black-bg ul li{ display: inline-block;  }
.case3{ position: relative;  }
.case3 h1{ position: absolute; right: 10px; top: -10px;  }
.right{ text-align: right;  }


img.absolute{ position: absolute; height: 100%; left: 6px; width: 24px;  }
img.image-fin
{   
    width: 99%;
    margin: auto;
    display: block;
}
.case6
{
    padding-left: 0 !important;
    width: 100%;
    font-size: 16px !important;
}

.case6 p{ margin-left: 20px ;  }
.case2{ height: 33px !important;  }




.first-line
{
    width: 242px;
    display: block !important;
    float: left;
}
.first-line .REEMB-line
{
    position: relative;
    top: -20px;
    float: right;
    left: -60px;
}
.line-right
{
    width: 88px;
    display: block !important;
    float: right;
}
.last-line
{
    position: relative;
    /*top: 20px;*/
    display: block !important;
}
.last-line .left{ float: left;  }
.last-line .line-right
{
    position: absolute;
    right: 44px;
}
.last-line span
{
    margin-left: 20px;
}
.case3 h2
{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.case3 h2.first-title
{
    margin-bottom: 3px !important;
}
.case4
{
    height: 76px;
}
.case4 p{ margin: 5px 0;  }
.first-line-case5
{
    margin-top: 0;
    padding-top: 10px;
}
.img-last-case
{
    width: 110px;
    position: absolute;
    top: 50px;
    right: 20px;
    border: 1px solid black;
}

label
{
    width: 150px;
}
.icon img
{   
    width: 15px;
    position: absolute;
    left: 460px;
    margin-top: -22px;
}

.print-height{ height: 96% !important;  }
.one-pix{ margin-top: 1px;  }

input{
    margin-right: 25px;
}
body
{
    padding: 30px;
}
.overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

.overlay-hugeinc nav {
    perspective: 1200px;
}

.overlay-hugeinc nav ul {
    opacity: 0.4;
    transform: translateY(-25%) rotateX(35deg);
    transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
    opacity: 1;
    transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
    transform: translateY(25%) rotateX(-35deg);
}