{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TrackingId list</h1>

    <table class="records_list">
        <thead>
            <tr>
             {#    <th>Id</th> #}
                <th>TrackingId</th>
                <th> </th>
                <th>Used</th>
                {# <th>Action 1</th> #}
                {# <th>Action 2</th> #}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
               {#  <td><a href="{{ path('trackingid_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> #}
                <td>{{ entity.trackingId }}</td>
                <td> - </td>
                <td>{% if entity.used %} Used {% else %} Not used {% endif %}</td>
                {# <td><a href="{{ path('trackingid_show', { 'id': entity.id }) }}">show</a></td> #}
                {# <td><a href="{{ path('trackingid_edit', { 'id': entity.id }) }}">edit</a></td> #}
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('trackingid_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
