{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TrackingId creation</h1>


    {{ form_start(form) }}

    
<table align='center'>
    <tr>
	    <td>
		    {{ form_label(form.TrackingId) }}
		    {{ form_widget(form.TrackingId) }}
	    </td>    	
    </tr>
    {{ form_widget(form._token) }}

    </table> 

        <ul class="record_actions">
    <li>
        <a href="{{ path('trackingid') }}">
            Back to the list
        </a>
    </li>
</ul>
<input type='submit' value='Ajouter' />
{{ form_end(form, {'render_rest': false}) }}
{% endblock %}
