{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TrackingId</h1>

    <table class="record_properties">
        <tbody>
{#             <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr> #}
            <tr>
                <th>TrackingId</th>
                <td>{{ entity.trackingId }}</td>
            </tr>
            <tr>
                <th>Used</th>
                <td>{% if entity.used %} Used {% else %} Not used {% endif %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('trackingid') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('trackingid_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
