

    {% for flashMessage in app.session.flashbag.get('noticeGeneratedHeader') %}

        {{ flashMessage }}

    {% endfor %}

<li><a href="{{ path('fr__RG__MRW_homepage') }}">Page d'accueil</a></li>

<h2>Gestion des Headers</h2>
<li><a href="{{ path('fr__RG__header') }}">Gérer les Headers</a></li>
<li><a href="{{ path('fr__RG__header_new') }}">Créer un Headers</a></li>
<li><a href="{{ path('fr__RG__MRW_generate') }}">Générer les Headers</a></li>
<li><a href="{{ path('fr__RG__MRW_generate_canceled') }}">Générer les Headers annulés</a></li>

{# <h2>Gestion des Détails</h2>
<li><a href="{{ path('fr__RG__detail') }}">Gérer les Détails</a></li> #}

<h2>Gestion des Customers</h2>
<li><a href="{{ path('fr__RG__customer') }}">Gérer les customers</a></li>

<h2>Gestion des codes barres</h2>
<li><a href="{{ path('fr__RG__codebarre') }}">Gérer les customers</a></li>

<!-- <h2>Gestion des SubStatus</h2>
<li><a href="{{ path('fr__RG__substatus') }}">Gérer les substatues</a></li> -->