﻿<!DOCTYPE html>
<html>
<head>
	<title>Impression</title>
	{% if format == 'A4' %}
		{% 
            stylesheets  
                'bundles/mrwsite/css/print_A4.css' 
                filter='cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
		{% endstylesheets %}
	{% else %}
		{% 
            stylesheets  
                'bundles/mrwsite/css/print_zebra.css' 
                filter='cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
		{% endstylesheets %}
	{% endif %}
</head>
<body>
	{# 
	262
	74
	 #}
	<div class="container-etiquette">
		<div class="case case1">
			<img class="absolute left print-height one-pix" src="{{ asset('images/6.png') }}" alt="">
			{% if sCodeBarre %}
				<img alt="[barcode]" class="barcode barcode1" src="/MRW/web/{{ mopa_barcode_url('code128', sCodeBarre , {'barcodeOptions': { 'factor' : 1.5},'rendererOptions': { 'width':300,'height' : 100} }) }}">
			{% endif %}
		</div>
		<div class="separator"></div>
		<div class="case case2">
			<img class="absolute left print-height" src="{{ asset('images/Expedition.PNG') }}" alt="">
			<div>
				<div class="first-line">
					{% if oDetail.header.trackingId %}
						<img alt="[barcode]" class="barcode2 pull-left" src="/MRW/web/{{ mopa_barcode_url('code128',oDetail.header.trackingId.trackingId, {'barcodeOptions': { 'barHeight' : 6 }, 'rendererOptions': { 'width': 227, 'height' : 18 }}) }}">
					{% endif %}
					<div class="REEMB-line right">REEMB: {{ oDetail.header.refund }} </div>
				</div>
				<div class="line-right">
					{# <div> PTES: ****</div> #}
					<div class="right">KILOS: {{ oDetail.header.weight }} </div>	
				</div>
			</div>
			<div class="last-line">
				<div class="left">ORIGEN: 02680  <span>TC: 0 </span> <span>TE: {{ sTE }}</span></div>
				<div class="line-right">
					<div class="right">BULTO: {{ key + 1 }}/{{ oDetail.header.details|length }} </div>
				</div>
			</div>

		</div>
		<div class="separator"></div>
		<div class="case case3">
			<img class="absolute left" src="{{ asset('images/Ruta.PNG') }}" alt="">
			<h2 class="first-title">{{ oRouta.nomRoute }}</h2>
			<h2>{{ oRouta.codeAgence }} - {{ oRouta.nomAgence }}</h2>
			<h1 class="pull-right">{{ sCodeRoute }}</h1>
		</div>
		<div class="separator"></div>
		<div class="case case4">
			<img class="absolute left print-height" src="{{ asset('images/remitente.PNG') }}" alt="">
			<p>FAEX</p>
			<p>210 BD ZERKTOUNI CASABLANCA</p>
			<p>Code Postal 20000</p>
			<p>+212522483636</p>
		</div>
		<div class="separator"></div>
		<div class="case case5">
			<img class="absolute left" src="{{ asset('images/Destinaterio.PNG') }}" alt="">
			<p class="first-line-case5">{{ oDetail.header.customerNameRecepteur }}</p>
			<p class="lineHeightBigger">Dirreciòn : {{ oDetail.header.customerAdressRecepteur }}</p>
			<p>{{ oDetail.header.customerZipRecepteur }} - {{ oDetail.header.customerCityRecepteur }} ({{ oDetail.header.customerStateRecepteur }})</p>
			<p>Teléfono : {{ oDetail.header.customerPhoneRecepteur }} {% if oDetail.header.email|length > 0 %} / {{ oDetail.header.email }} {% endif %}</p>
		</div>
		<div class="separator"></div>
		<div class="case case6">
			{% set imageToPut = 'images/' ~ sBottomImage %}
			<img class="image-fin" src="{{ asset(imageToPut ~ '.png') }}" alt="">
			<p>Origine : {% if oDetail.header.customer %}{{ oDetail.header.customer.customerName }}{% endif %}</p>
			<p>{% if oDetail.header.customer %}{{ oDetail.header.customer.customerAdress }}{% endif %}</p>
			<p>{% if oDetail.header.customer %}{{ oDetail.header.customer.customerCity }}{% endif %}</p>
			<div class="img-last-case">
				<img class="image-fin" src="{{ asset('images/last-case.png') }}" alt="">
			</div>
		</div>
	</div>
</body>
</html>

